<footer class="footer">
  <small>
    <a href="#">TesTesT</a>
    by Matveev Maksim
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://blablabla/">News</a></li>
    </ul>
  </nav>
</footer>